In [29]:
import time
import pandas as pd
import os.path

In [71]:
ts_init_str = "2022-05-10 15:22:40.367836"
ts_end_str = "2022-05-10 15:25:46.445103"
ts_occurr_str = "2022-05-10 15:24:12.409217"

ts_init = pd.to_datetime(ts_init_str)
ts_end = pd.to_datetime(ts_end_str)
ts_occurr = pd.to_datetime(ts_occurr_str)

DAY_MS = 24*60*60*1000 # a day length in ms

DAY_MS

86400000

In [73]:
def tf_hour_mapper(ts_init, ts_end, ts_occurr):
    """Convert the given timestamp into a 24 hour format one, on the basis of the
       timestamp interval given"""
    if ts_occurr == ts_init:
        # TODO: return 00:00:00
        return 
    if ts_occurr == ts_end:
        # TODO: return 23:59:59
        return 
    delta = ts_end - ts_init
    delta_ms = delta.seconds*1000 + delta.microseconds/10 + delta.nanoseconds/100 
    
    occurr_delta = ts_occurr - ts_init
    occurr_delta_ms = occurr_delta.seconds*1000 + occurr_delta.microseconds/10 + occurr_delta.nanoseconds/100
    
    
    # day in ms : ms of simulated day = x : ms of ts_occurr from init
    
    x = DAY_MS * occurr_delta_ms / delta_ms
    seconds = (x / 1000) % 60;
    minutes = int((x / (1000*60)) % 60);
    hours   = int((x / (1000*60*60)) % 24);
    print(hours, minutes, seconds)
    # TODO: return timestamp with the calculated metrics

x = tf_hour_mapper(ts_init, ts_end, ts_occurr)
x

11 54 36.54639241777477

In [37]:
def read_workload_csv(filepath) -> pd.DataFrame:

    file_exists = os.path.exists(filepath)
    
    if not file_exists:
        raise FileNotFoundError
        return
    names = ['id','timestamp','rt','instance','service']
    
    df = pd.read_csv(filepath, names=names)
    
    # drop id column
    df.drop('id', axis=1, inplace=True)
        
    # s -> ms for rt column
    df['rt'] = df['rt']*1000
    
    return df

In [39]:
df = read_workload_df('../postgres/data/workload.csv')
df.head()

                    timestamp        rt                  instance  service
0    2022-05-14 17:17:57.5526  0.006217  ml_sd_tradeoff_payment_2  payment
1  2022-05-14 17:17:57.557013  0.000798  ml_sd_tradeoff_payment_5  payment
2  2022-05-14 17:17:57.560591  0.000916  ml_sd_tradeoff_payment_3  payment
3  2022-05-14 17:17:57.563878  0.000540  ml_sd_tradeoff_payment_1  payment
4  2022-05-14 17:17:57.567307  0.000830  ml_sd_tradeoff_payment_4  payment

In [42]:
payment_df = df[df['service'].str.contains('payment')]
catalogue_df = df[df['service'].str.contains('catalogue')]
shipping_df = df[df['service'].str.contains('shipping')]
order_df = df[df['service'].str.contains('order')]
carts_df = df[df['service'].str.contains('carts')]
user_df = df[df['service'].str.contains('user')]

In [ ]:
print(payment_df.)